.navbar-expand-lg .navbar-nav .nav-link:hover{
    border-top: 4px solid  #6f42c1;
}
.navbar-expand-lg .navbar-nav .nav-link:active{
    border-top: 4px solid  #6f42c1;
    color: #6f42c1;
}
.dropdown-menu {
  border: 0px;
  color:#6f42c1 ;
}
.btn{
    margin-left: 10px;
    margin-right: 10px;
}
.dropdown:hover>.dropdown-menu {
  color:#6f42c1 ;
  display: block;
}
.items{
  display: block;
  margin: auto;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  background-repeat: no-repeat;
  height: 450px;
}
.card-imgs-top{
    object-fit: cover;
    object-position: center center;
    background-repeat: no-repeat;
    height: 400px;
  }
  .card-vd{
    width: 100%;
    height: 65vh;
    overflow: hidden;
    object-fit: cover;
  }
  .card-vid{
    top: 50%;
    left: 50%;
    width: 100%;
    height: 57vh;
    overflow: hidden;
    object-fit: cover;
  }
  .img-fluid-top{
    object-fit: cover;
    object-position: center center;
    background-repeat: no-repeat;
    height: 450px;
  }

  .vid{
    width:100%;
    height: 25vh;
    object-fit: cover;
    object-position: center center;
  }
    





.card-effect {
    box-shadow: var(--box-shadow);
    background-color:var(--white) ;
    padding: 50px;
    transition: all 0.35s ease;
}

.card-effect:hover {
    box-shadow: none;
    transform: translateY(5px);
}

.iconbox {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color: var(--white);
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}


.service {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.service::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    background-color: var(--primary);
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease;
}


.service:hover .iconbox {
    background-color: var(--white);
    color: var(--primary);
}

.service:hover h5,
.service:hover p {
    color: var(--white);;
}

.service:hover::after {
    opacity: 1;
    top: 0;
}
