{% extends 'main/base.html'%}
{% load static %}
{% block content %}
	<title>{% block title%}Login {%endblock%}</title>
	<link href="{% static 'main/css/user.css' %}" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	 
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				{% include 'main/messages.html'%}
				<div class="d-flex justify-content-center">
					<img  class="img "src="{% static 'main/imgs/logo.jpg'%}" width="100" height="100" >
				</div>
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
					  {% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" placeholder="Username..Reg_number" class="form-control">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn login_btn" type="submit" value="Login" class="fas fa-sign-in">
				   			</div>
					</form>

				</div>
				<div class="mt-4" class="cd">
					<div class="d-flex justify-content-center links">
						Did you forget your password? <a href="{% url 'request-password' %}" class="ml-2">Reset</a>
					</div>
			
				</div>
			</div>
		</div>
	</div>
	<br><br><br><br><br><br><br><br><br><br>
{% endblock %}
