{% extends 'Zusa_admin/adminbase.html' %}
{% load crispy_forms_tags %}
{% block title%} Add club {%endblock%}
{% block content %}
<style>
    body{
        background-color:#add8e64a;
    }
   
</style>
    <br>

    <div class="container">
    <!-- Content here -->
        <div class="card p-2" id="card">
            <div class="card-titler">
                <h3 style="text-align:center;">EDIT CLUB</h3>
            </div>
                <form method="post" enctype="multipart/form-data"autocomplete="off" >
                    {% csrf_token %}
                    {{form.media}}
                    {{form|crispy}}
                    <div class="mb-3">
                        <button type="submit" class="btn btn-outline-primary">SUBMIT</button>
                    </div>
                <form>
            </div>
        </div>
    </div>

{% endblock %}


