{% extends 'Zusa_admin/adminbase.html' %}
{%load static%}
{% block title %} Team_View_Zetech{% endblock%}
{% block content %}
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="{% static 'main/css/club.css' %}" rel="stylesheet">
  <link href="{% static 'main/css/zuka_admin.css' %}" rel="stylesheet">
  <div class="row col-md-12 mb-2 justify-content-center">
    <a href="{% url 'add-Zetech_team' %}"class="btn btn-info btn-block col-sm-4" type="button" id="new_forum"><i class="fa fa-plus"></i> Create Student Team</a>
  </div> 
</head>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title" style="text-align:center;">Zetech Team Change</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Photo/video</th>
          <th>Bio</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for teams in team %}
      <tr>
        <td> {{ teams.Name}}</td>
        {% if teams.Photo_Video_type_html == "video" %}
        <td><video  src="{{teams.Photo_Video.url}}" class="img"></video></td>
        {% elif teams.Photo_Video_type_html == "image" %}
        <td><img src="{{teams.Photo_Video.url}}" alt="Profile Pic" class="img" /></td>
        {% endif %}
        <td>{{teams.Bio|safe|slice:":50"}}</td>
        <td><a class="btn btn-info btn-xs" href="{% url 'edit_Zetechteam' teams.pk %}"><span class="glyphicon glyphicon-edit"></span></a></td>
        <td><a class="btn btn-danger btn-xs" href="{% url 'delete_team' teams.pk %}"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>             
{% endblock content %}