{% extends 'Zusa_admin/adminbase.html' %}
{% block content %}
{%load static%}

<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="{% static 'main/css/clubs.css' %}" rel="stylesheet">
  <link href="{% static 'main/css/zuka_admin.css' %}" rel="stylesheet">
</head>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title" style="text-align:center;">Registered-Student</h6>
    </div>
    <table class="table table-hover" id="dev-table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Photo</th>
          <th>Phone_number</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for students in student %}
      <tr>
        <td> {{ students.user}}</td>
        <td><img src="{{students.profile_pic.url}}" alt="Profile Pic" class="img" /></td>
        <td> {{students.phone}}</td>
        <td><a class="btn btn-danger btn-xs" href=""><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

{% endblock content %}