<!DOCTYPE html>
{%load static%}
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ZUSA RESULT PDF</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!-- Main style sheet -->
<div class="card card-body">
  <h5 class="card-header" style="color: purple; padding-top: 12px;padding-bottom: 12px;text-align: center">ZUSA ELECTIONS RESULTS</h5>
</div>
{% for caty in caty_list %}
  <h6 class="card-header" style="color: purple; padding-top: 12px;padding-bottom: 12px;text-align: center">{{caty.Name}}</h6><br>
  
  <table class="table table-bordered table-sm text-center" id="cand">
    <thead>
      <tr style="text-align: left; padding-bottom: 12px; padding-top: 12px;border: 2px solid purple;">
        <th style="background-color: #6f42c1;text-align: left;padding-top: 12px; padding-bottom: 12px;color: white;" >CANDIDATE IMAGE</th>
        <th style="background-color: #6f42c1;text-align: left;padding-top: 12px; padding-bottom: 12px;color: white;">CANDIDATE ELECT</th>
        <th style="background-color: #6f42c1;text-align: left;padding-top: 12px; padding-bottom: 12px;color: white;">TOTAL VOTE</th>
      </tr>
    </thead>
    <tbody>
      {% for cand in caty.candidate_set.all %}
        <tr style="text-align: center; padding-bottom: 12px; padding-top: 12px;border: 2px solid purple;">
          <td style=" border: 2px solid purple;"><img height="100px" width="100px" src="{{cand.Photo.url}}" alt="Profile_Pic"  /></td>
          <td style=" border: 2px solid purple;text-align: left;">{{cand.first_name }} {{cand.last_name}}</td>
          <td style=" border: 2px solid purple;text-align: left;">{{ cand.total_votes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}
</body>
</html>