{%extends 'main/base.html'%}
{% load static %}
{% load hitcount_tags %}
<title>{% block title%}Blog-Posts{%endblock%}</title>
{% block content %}
<style>
	body{
		background-color:#ebeff5 ;
	}
	.img{
	      margin-left: 20%;
	      width: 45%;
	      height: 45%;
</style>
	<!--
      CSS
      =============================================
    -->
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
	<link rel="stylesheet" href="{% static 'main/css/Homepage.css' %}" />
	<!-- Start post-content Area -->
	<section class="post-content-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 posts-list">
				   {% for post in posts %}
						<div class="single-post row">
							<div class="col-lg-3  col-md-3 meta-details">
								<ul class="tags">
								 <li>{{post.categories}}</li>
								</ul>
								
								<div class="user-details row">
									<p class="user-name col-lg-12 col-md-12 col-6"><a href="{%  url 'user-profile' post.author.id %}">{{post.author}} {{post.author.first_name}} {{post.author.Last_name}} </a> <span class="bi bi-person"></span></p>
									<p class="date col-lg-12 col-md-12 col-7">{{post.created_on|timesince}} ago<span class="bi bi-calendar-check"></span></p>
									<p class="view col-lg-12 col-md-12 col-6">{% get_hit_count for post %} Views<span class="bi bi-eye"></span></p>
								</div>
							</div>
							<div class="col-lg-9 col-md-9 ">
							   {% if post.Photo_Video == "video" %}
									<video  controls="controls" class="card-vd">
										<source src="{{post.Photo_Video.url}}" type="video/mp4">
									</video>
							   {% elif Photo_Video_type_html == "image" %}
									<div class="feature-img">
	    								<img  class="card-img-top" src="{{post.Photo_Video.url}}">
									</div> 	
							    {% endif %}							
								<h3>{{post.Title}}</h3>
								<p class="excert">{{post.content|safe|slice:":250"}}</p>
								<a href="{% url 'post-details' post.pk %}" class="view-more-btn">View More</a>
							</div>
						</div>
					{% empty %}	 
						<p style="text-align:center"><large>NO POSTS TO DISPLAY</large></p>
				    {% endfor %}
				   <!-- pagination-->
					{%include 'main/pagination.html'%}
					<!--end of pagination-->
				</div>
				<div class="col-lg-4 sidebar-widgets">
					<div class="widget-wrap">
						<div class="single-sidebar-widget search-widget">
							<form class="search-form">
								<input placeholder="Search for Post" name="query" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
								<button type="submit"><i class="fa fa-search"></i></button>
							</form>
						</div>
						
						<div class="single-sidebar-widget popular-post-widget">
						 <h4 class="popular-title">Popular Posts</h4>
						 {% include 'main/popular.html' %}
						</div>
						{%include 'main/post catgories.html'%}
					</div>
				</div>
			</div>
		</div>
	</section>	
	<!-- End post-content Area -->
{% endblock %}
