{% load static %}
<div class="comments-area" id="filteredProducts">
	<h4> {{post_comments_count}} comments</h4>
	<div class="comment-list">
		{% if not post.comment_set.all%}
			<small>No comment to display</small>
		{% endif %}
		{% for comment in post_comments %}
			<div class="single-comment justify-content-between d-flex product-box">
				<div class="user justify-content-between d-flex">
					<div class="thumb">
					 <img class="profile-pic"src="{{ comment.user.profile_pic.url}}">
					</div>
					<div class="desc">
						<h5><a href="{%  url 'user-profile' comment.user.id %}">{{comment.user}}{{comment.user.first_name}} {{comment.user.Last_name}}</a></h5>
						<p class="date">{{comment.created_on|timesince}} ago</p>
						<p class="comment">{{comment.content}}</p>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<!-- CustomJs -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="{% static 'main/js/custom.js' %}"></script>
	<p class="my-4 text-center"><button id="loadMore" data-total="{{total_data}}" data-limit="3" class="btn btn-dark btn-sm">Load More <i class="fa fa-sync load-more-icon"></i></button></p>
</div>
   