 <div class="card mb-4">
        <div class="card-body">
            <div class="col-lg-12">
                <div class="row">
                    <h3><b> <i class="fa fa-comments"></i>Comments {{forum_comments_count}}</b></h3>
                </div>
                <hr class="divider" style="max-width: 100%">
                
                {% for comments in forum_comment %}
                    <div class="form-group comment">
                        <a href=""><small class="mb-0"><i>{{comments.user}}</i></small></a>
                        <small class="mb-0"><i>{{comments.created_on|timesince}} ago </i></small>
                        <br>
                        <p class="mb-0">{{comments.content}}</p>
                        <hr>   
                    </div>
                {% empty %}
                   <small  class="text-center bg-warning">No comment to display</small>
                {% endfor %}
            </div>
                <hr class="divider" style="max-width: 100%">
                <div class="col-lg-12">
                    <form action="." method="POST" class="CommentForm">
                        <div class="form-group">
                            {% csrf_token %}
                            {{form.content}}
                        </div>
                        <button type="submit" value="submit" class="btn btn-primary">Add Comment</button>
                    </form>
                </div>
        </div>
    </div>   
</div>
    