{% extends 'main/base.html'%}
{% load static %}
{% block title%} Forum-List {% endblock %}
{% block content %} 
<!-- Main style sheet -->
 <link href="{% static 'main/css/main.css' %}" rel="stylesheet"> 
 <link href="{% static 'main/css/alumni.css' %}" rel="stylesheet"> 

<header class="masthead">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end mb-4 page-title">
                <h3 class="text-white">Forum List</h3>
            <div class="row col-md-12 mb-2 justify-content-center">
             <!-- Button trigger modal -->
             {% if user.is_alumni %}
              <button type="button" class="btn btn-primary btn-block col-sm-4" data-toggle="modal" data-target="#exampleModal">Create New Topic </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create Forum</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
             
                      <!-- Create job Template-->
                      {%include 'main/Add_forum.html'%}
                      <!-- end -->
                      {% endif %}
                    </div>
                </div>
            </div>   
            
            
        </div>
    </div>
</header>
<div class="container mt-3 pt-2">

    <!-- START OF SEARCH -->
  <form>
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="filter-field"><i class="fa fa-search"></i></span>
                      </div>
                      <input type="text"  class="form-control" placeholder="Filter by title and description "name="query" aria-label="Filter" aria-describedby="filter-field">
                    </div>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary btn-block btn-sm" id="search">Search</button>
                </div>
            </div>
             <br>
             <a id="new_career" href="{% url 'alumni' %}"class="btn btn-outline-secondary btn-block col-sm-2">Back to Alumni</a>
        </div>
    </div>
 </form>
 <!--  END OF SEARCH-->
    
    {% for Forum in forum %}
        <div class="card Forum-list">
            <div class="card mb-3">
                {% if Forum.Photo %}
                  <img src="{{Forum.Photo.url}}" class="card-img-top" alt="">
                {% endif %}
                    <div class="card-body">
                        <h5><b class="filter-txt">{{Forum.title}}</b></h5>
                        <p class="card-text">{{Forum.description}}</p>
                        <span class="filter-txt"><small><b><i class="fa fa-time">Posted :</i>{{Forum.date_created|timesince}} ago</b></small></span>
                        <hr class="divider"  style="max-width: calc(100%)">
                        <span class="badge badge-info float-left px-3 pt-1 pb-1">
                            <b><i>Topic Created by: <span class="filter-txt">{{Forum.author}}</span></i></b>
                        </span>
                        <br>
                    </div>
            </div>
        </div>
        <br>
    {% empty %}
          <p  style="text-align: center;">No Forum to display</p>
    {% endfor%} 
    {% include 'main/pagination.html' %}
</div>
</div>
{% endblock %}