{% load static %}
<!-- Main style sheet -->
 <link href="{% static 'main/css/alumni.css' %}" rel="stylesheet"> 
<div class="container mt-3 pt-2">
                <h4 class="text-center text-black">UPCOMING EVENTS</h4>
                <hr class="divider">
                {% for x in events %}
                    <div class="card event-list">
                    {% if x.thumbnail %}
                        <div class='banneer'> 
                         <img src="{{x.thumbnail.url}}" alt="picture">    
                        </div>
                    {% endif %}
                        <div class="card-body">
                            <div class="row  align-items-center justify-content-center text-center h-100">
                                <div class="">
                                    <h3><b class="filter-txt">{{x.title}}</b></h3>
                                    <div><small><p><b><i class="fa fa-calendar"></i>{{x.date_created}}</b></p></small></div>
                                    <larger class="truncate filter-txt">{{x.Description|safe|slice:":100"}}</larger>
                                    <br>
                                    <hr class="divider"  style="max-width: calc(80%)">
                                    <button class="btn btn-primary float-right read_more" data-id=" ">Read More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                   <p  style="text-align: center;">No upcoming events to display</p>
                {% endfor %}
                 <!-- pagination-->
                    
                 <!--end of pagination-->
</div>
