{% extends "main/base.html" %}
{% load embed_video_tags %}
{%load static%}
{%block content%}
<style>
  .card-img-top{
    object-fit: cover;
    object-position: center center;
    background-repeat: no-repeat;
    height:400px;
  }
</style>
<link href="{% static 'main/css/Homepage.css' %}" rel="stylesheet">
<link href="{% static 'main/css/default.css' %}" rel="stylesheet">
 <!--slider image-->
    <div id="slides" class="carousel slide" data-ride="carousel">
	    <ul class="carousel-indicators">
	      <li data-target="#slides" data-slide-to="0" class="active"></li>
	      <li data-target="#slides" data-slide-to="1"></li>
	      <li data-target="#slides" data-slide-to="2"></li>
	    </ul>
	    <div class="carousel-inner">
	    	{% for pages in page %}
		      <div class="carousel-item{% if forloop.counter0 == 0%} active {% endif %}">
		        <img class="items" src="{{ pages.image.url}}" alt="First slide">
		        <div class="carousel-caption  d-md-block">
                  <div class="col-lg-7 mx-auto text-center">
                    <a href="{% url 'login'%}" class="btn btn-primary">LOGIN</a>
                    <a  data-toggle="modal" data-target="#exampleModal2" class="btn btn-primary">REGISTER</a>
                  </div>    
		  		    <h1>{{pages.title}}</h1>
		  		    <p class="lead">{{pages.sub_title}}</p>
		   	    </div>
          </div>  
	      {% endfor %}
	    </div>
    </div>

    <div class="container-fluid">
      <!-- Modal -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create Account As</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5 style="text-align: center;">STUDENT</h5>
              <p>Please Use Zetech Student Email As Your Email</p>
              <a href="{% url 'student_page'%}" class="btn btn-success btn-lg" role="button" >Student</a>
              <hr>
              <h5 style="text-align:center;">Alumnae</h5>
              <p>You Can Use Personal email Or Zetech Student Email </p>
               <a href="{% url 'alumni_page' %}" class="btn btn-success btn-lg text-center" role="button">Alumnae</a>
            </div>
          </div>
        </div>
      </div>
   </div>
   <!--Meet the team-->
   <hr>
    <div class="container-fluid">
	    <div class="row welcome text-center">
	        <div class="col-12">
	          <h1 >Zetech University Student Trend</h1>
	        </div>
	    </div>
    </div>

    <!--cards-->
    <div class="container-fluid">
      <div class="row padding">
        {% for teams in team %}
        <div class="col-md-4">
          <div class="card">
            {% if teams.Video %}
            <video  controls="controls">
               <source src="{{teams.Video.url}}" type="video/mp4" class="thumbnail" >
            </video>
            {% endif %}
            {% if teams.Photo %}
            <img src="{{teams.Photo.url}}" alt="{{teams.Name}}"  class="card-img-top" /></td>
            {% endif %}
            <div class="card-body">
              <h3 class="card-title">{{teams.Name}}</h3>
              <p class="card-text">{{teams.Bio}}</p>
            </div>
          </div>
        </div>
       {% endfor %}
      </div>
    </div>
    <hr>
    <section class="s1">
    <div class="main-container">
      <h3 style="text-align: center;">Youtube Video </h3>
   
      <div class="post-wrapper">
        {% for item in video %}
        <div>
          <div class="post">
           <div class="thumbnail">
             {% video item.Video '100% x 120%' %}
           </div>
            <div class="post-preview">
              <h6 class="post-title">{{item.Name}}</h6>
              <p class="post-intro">{{item.sub_Title}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

{% endblock %}





 class="card-vd"