{% extends 'main/base.html' %}
{% load static %}
{%block title%}
{{career.Name}}
{%endblock%}
{% block content %}
<!-- Main style sheet -->
  <link href="{% static 'main/css/main.css' %}" rel="stylesheet">
  <!--<link href="{% static 'main/css/stylee.css' %}" rel="stylesheet">--> 
  <link href="{% static 'main/css/club.css' %}" rel="stylesheet"> 
<br>
{% include 'main/messages.html'%} 
{% include 'main/event_participant_dashboard.html'%}  
<div class="container">
  <div class="row" id ="row1">
    <div class="card card-body " id="card01" >
      <div class="profile">
            {% if career.profile_pic %}
            <div class="profile_pic">
              <div>
                <img  class="profile_pic" src="{{career.profile_pic.url}}" />
              </div>
            </div>
            {% endif %}
            <div class="profile__info">
              <h3 class="text-center text-black"><a href="{% url 'clubuser' %}">{{career.Name}}</a></h3>
              {% if career.Chairperson %}
              <p>Chairperson:<a href="{% url 'user-profile' career.Chairperson.pk %}"> {{career.Chairperson}}</a></p>
              {% endif %}
              {% if career.Parton %}
              <p>Patron:<a href="{% url 'user-profile' career.Parton.pk %}">{{career.Parton}}</a></p>
              {% endif %}
              <p>Contact:{{career.Contact}}</p>
               {% include 'main/jionclub.html'%}

              {% if request.user == career.Chairperson %}
                <a href="{% url 'editclub' career.id %}" class="btn btn-primary"> Edit Club Profile</a>
                <a href="{% url 'Add-event' career.id %}" class="btn btn-primary"> Add Events to Club</a>
              {% endif %}
              {% if request.user == career.Parton %}
               <a href="{% url 'editclub' career.id %}" class="btn btn-primary"> Edit Club Profile</a>
               <a href="{% url 'Add-event' career.id %}" class="btn btn-primary"> Add Events to Club</a>
              {% endif %}

            </div>
            <div class="profile__about">
              <h3>About:</h3>
              <p>
                {{career.About}}
              </p>
              <h3>Meet up Place:</h3>
               <p>{{ career.Meeting_place}}</p>
            </div>
          </div>
          <br>
    </div>
  </div>
</div>
{% endblock %}

